<!DOCTYPE html>
<html>
<head>
  <title>Styleguide</title>
  <%= javascript_pack_tag 'komponent' %>
  <%= stylesheet_pack_tag 'komponent', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= c 'komponent/header' %>
  <%= c 'komponent/sidebar' %>
  <%= c 'komponent/container' do %>
    <%= yield %>
  <% end %>
  <%= c 'komponent/footer' %>
</body>
</html>
